<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">

	<title>Health Augury</title>
	<meta name="author" content="Team 11" />

	<meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- inform the browser to set the window width to the device’s width -->


	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
	<link rel="stylesheet" type="text/css" href="css/demo-styles.css" media="all" />

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/html5shiv.js"></script>
	<script type="text/javascript" src="js/rlsmooth.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>

</head>
<body>
<header>
   <a href="index.html" class="tutorial-link">Health Augury</a>
</header>
	<!-- <div class="smooth-style slide-option" style="top:0; height:15%;"><a href="index.html" class="tutorial-link" style="color:#fff; text-decoration:none;">Health Augury</a></div> -->
	<div id="cf7" class="cf7" class="shadow">
	<img class="opaque" src="images/1.png"  alt="PicturePuzzled" id="myPicture" />
	<!-- <a href="#" id="nextLink" onclick="processNext();"><img class="opaque" src="images/1.png"  alt="Slide" id="myPicture" /></a> -->
	</div>
	<div id="cf8" class="cf8" class="shadow">
	<img class="opaque" src="images/2.png"  alt="PicturePuzzled" id="myPicture" />
	<!-- <a href="#" id="nextLink" onclick="processNext();"><img class="opaque" src="images/1.png"  alt="Slide" id="myPicture" /></a> -->
	</div>
	
	<div class="smooth-style showHide-option"><a href="prediction.html" style="color:#fff; text-decoration:none;">Get Started</a></div>
	<!-- <div class="smooth-style showUp-option">I'm a showUp option.</div> -->
	<div class="smooth-style showOut-option"><a href="workProcedure.html" style="color:#fff; text-decoration:none;">How stuff works?</a></div>
	<div class="smooth-style slide-option" style="font-size:16px;">Copyright &copy; Team 11. All rights reserved.</div>
	
	
	<div class="height">
		<p>scroll down</p>
		<p>asd</p>
		<p>keep scrolling down</p>
		<p>keep scrolling down</p>
		<p>asd</p>
		<p>asd</p>
		<p>asd</p>
		<p>asd</p>
		<p>asd</p>
		<p>keep scrolling down</p>
		<p>keep scrolling down</p>
		<p>scroll up</p>
	</div>	
</body>
</html>