<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Health Augury</title>

  <link rel="stylesheet" href="css/demo-styles.css" />
  <script src="js/modernizr-1.5.min.js"></script>

</head>

<body>
 <header>
   <a href="index.html" class="tutorial-link">Health Augury</a>
 </header>
  <!--===============================Start Demo====================================================-->
<div class="demo-wrapper" style="margin:0 auto; padding:0 auto;">
<!-- classnames for the pages should include: 1) type of page 2) page name-->
  <div class="s-page random-restored-page">
    <h2 class="page-title">Some minimized App</h2>
    <div class="close-button s-close-button">x</div>
  </div>
  <div class="s-page custom-page">
    <h2 class="page-title">Thank You!</h2>
    <div class="close-button s-close-button">x</div>
  </div>
  <div class="r-page random-r-page">

    <div class="page-content">
      <h2 class="page-title">App Screen</h2>
      <p>Chew iPad power cord chew iPad power cord attack feet chase mice leave dead animals as gifts and stick butt in face chew iPad power cord. Chase mice. Run in circles use lap as chair why must they do that. Intrigued by the shower destroy couch leave hair everywhere sleep on keyboard chew iPad power cord. Use lap as chair. Missing until dinner time stand in front of the computer screen, intently sniff hand. Find something else more interesting. Destroy couch play time so inspect anything brought into the house hate dog burrow under covers. Sleep on keyboard destroy couch so hate dog so hide when guests come over. Chase mice destroy couch lick butt throwup on your pillow use lap as chair yet intrigued by the shower but climb leg. Stare at ceiling make muffins or hunt anything that moves claw drapes. Intently sniff hand intrigued by the shower. Why must they do that. Cat snacks leave dead animals as gifts or inspect anything brought into the house sweet beast so stare at ceiling give attitude. Flop over claw drapes but sun bathe lick butt, and chase mice. Rub face on everything lick butt leave hair everywhere lick butt, missing until dinner time for use lap as chair lick butt. Make muffins leave dead animals as gifts play time. Chew foot intrigued by the shower stare at ceiling inspect anything brought into the house yet hopped up on goofballs. 

      Hunt anything that moves intently sniff hand for hunt anything that moves play time. Chew foot climb leg throwup on your pillow so lick butt yet make muffins hate dog. Intrigued by the shower. Intently sniff hand shake treat bag. Cat snacks burrow under covers make muffins but all of a sudden go crazy find something else more interesting. Flop over chase mice. Give attitude. Inspect anything brought into the house. Stick butt in face sun bathe so find something else more interesting and intrigued by the shower. Rub face on everything use lap as chair. 

      Under the bed claw drapes chase mice but leave hair everywhere yet make muffins yet claw drapes. Use lap as chair. Find something else more interesting stretch for under the bed. Nap all day intrigued by the shower, hate dog sweet beast intently sniff hand so hate dog nap all day. Swat at dog hide when guests come over and mark territory chase mice for cat snacks. Use lap as chair. Lick butt throwup on your pillow need to chase tail. 

      Mark territory. Stick butt in face shake treat bag yet hunt anything that moves, yet hopped up on goofballs yet stare at ceiling under the bed. Give attitude chase imaginary bugs stretch so hunt anything that moves so hide when guests come over but intrigued by the shower find something else more interesting. Make muffins behind the couch for chew foot. Sweet beast flop over but throwup on your pillow. Intently sniff hand use lap as chair and missing until dinner time and chase imaginary bugs. 
      </p>
    </div>
    
    <div class="close-button r-close-button">x</div>
  </div>
<!--each tile should specify what page type it opens (to determine which animation) and the corresponding page name it should open-->
  <div class="dashboard clearfix">
    <ul class="tiles">
	
	  
	  <div class="col1 clearfix">
		<li class="tile tile-small tile tile-2 slideTextRight" style="width:100%; margin:25px 0 25px 0;" data-page-type="s-page" data-page-name ="random-restored-page">
          <div><p class="icon-arrow-right"></p></div>
          <div><p>Do YOU know this disease?</p></div>
        </li>
		
		<a href="statewiseStats.html" style="color:#455962; text-decoration:none;">
		<li class="tile tile-small tile tile-2 slideTextRight" style="width:100%; margin-bottom:25px;">
          <div><p class="icon-arrow-right"></p></div>
          <div><p>View all the state wise stats here!</p></div>
        </li>
		</a>
	  
	  </div>
	  <div class="col2 clearfix">
		
          <div style="margin:25px 0 25px 0; color:#fff;">			
			<p style="font-size:30px;">Map view for the prediction in the selected disease:</p>
			<select name="diseases">
				<option value="" selected="selected">Select a Disease</option>
				<option value="Giardiasis">Giardiasis</option>
				<option value="Gonorrhea">Gonorrhea</option>
				<option value="Haemophilus  influenza">Haemophilus  influenza</option>
				<option value="Cryptosporidiosis">Cryptosporidiosis</option>
				<option value="Dengue Fever">Dengue Fever</option>
				<option value="Mumps">Mumps</option>
				<option value="Pertussis">Pertussis</option>
				<option value="Rabies">Rabies</option>
				<option value="Hepatitis A">Hepatitis A</option>
				<option value="Hepatitis B">Hepatitis B</option>
				<option value="Hepatitis C">Hepatitis C</option>		
			</select>
		  </div>
		  <div style="height:550px;background:#fff;">Hello! Put maps here</div>
		  
       
	  </div>
      <div class="col3 clearfix">
		<a href="sortGraph.html" style="color:#455962; text-decoration:none;">
		<li class="tile tile-small tile tile-2 slideTextRight" style="width:100%; margin:25px 0 25px 0;">
          <div><p class="icon-arrow-right"></p></div>
          <div><p>Compare via Sorting graph here!</p></div>
        </li>
		</a>
		<a href="maxInState.html" style="color:#455962; text-decoration:none;">
		<li class="tile tile-small tile tile-2 slideTextRight" style="width:100%; margin-bottom:25px;">
		<div><p class="icon-arrow-right"> </p></div>
		<div><p>Check out top victim states here!</p></div>
		</li>
		</a>
	  </div>
      
    </ul>
  </div><!--end dashboard-->

</div>
<!--====================================end demo wrapper================================================-->
  <script src="js/jquery-1.8.2.min.js"></script>
  <script src="js/scripts_metro.js"></script>

</body>
</html>
